:root {
  --main-color: #04aa6d;
  --ar-color: #0075ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

body.dark {
  background-color: #23272f;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

a {
  text-decoration: none;
}

/* Start Header */

header {
  position: relative;
  height: 450px;
  background-image: url("../images/orale-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 60%);
}

header .mode {
  z-index: 10;
  position: absolute;
  color: #fff;
  right: 5px;
  top: 10px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}
header .mode.active {
  background-color: var(--main-color);
}
header a i {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 5px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
  color: #fff;
}

header a i:hover {
  background-color: var(--main-color);
}

header .info {
  position: absolute;
  color: #fff;
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 25px;
}

header .info h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

header .info h1 a {
  color: #fff;
}

@media (max-width: 650px) {
  header .info h1 {
    display: block;
    width: 350px;
    font-size: 35px;
  }
}

.heading {
  text-align: center;
  background-color: #04aa6de0;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 10px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .heading {
    font-size: 18px;
  }
}

.heading-ch {
  text-align: center;
  background-color: #04aa6de0;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 40px;
  font-size: 30px;
}
@media (max-width: 650px) {
  .heading-ch {
    font-size: 18px;
  }
}

/* End Header */

/* Start Footer */
footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
}

@media (max-width: 650px) {
  footer {
    font-size: 18px;
    text-align: center;
  }
}

footer span {
  color: var(--main-color);
  font-weight: bold;
}

footer a {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 250px;
  margin: 10px auto;
  color: #fff;
  padding: 10px;
  border: 2px solid var(--main-color);
  transition: 0.3s;
}
footer a:hover {
  background-color: var(--main-color);
}

footer a h4 span {
  color: #fff;
}

/* End Footer */

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.tabs li {
  width: 49%;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 8px;
}

@media (max-width: 650px) {
  .tabs {
    padding: 10px;
  }
  .tabs li {
    width: 100%;
  }
}
.tabs li.active,
.tabs li:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* Start */
.up {
  position: fixed;
  bottom: 10px;
  right: -40px;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  transition: 0.2s;
}

.up:hover {
  opacity: 0.9;
}

.up.show {
  right: 10px;
}

.progress-container {
  position: fixed;
  width: 100%;
  height: 4px;
  background: #ccc;
  z-index: 101;
}

.progress-bar {
  height: 4px;
  background: var(--main-color);
  width: 0%;
}
/* End */

/* Start Content */
.content {
  background-color: #f2f2f2;
  margin: 20px 0;
  border-radius: 10px;
}
.content > div {
  padding: 20px;
}

@media (max-width: 650px) {
  .content > div {
    padding: 10px;
  }
}

.content > div:not(:first-child) {
  display: none;
}

.content .box span {
  display: flex;
  gap: 20px;
  margin: 3px 0 20px;
  width: 30px;
  height: 30px;
}

.content .box .sound-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.content .box .sound-icon:hover,
.content .box .sound-icon.active {
  background-color: var(--main-color);
  color: #fff;
}

.content .box p.fr {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.content p.ar {
  position: relative;
  font-family: "Cairo", sans-serif;
  background-color: var(--ar-color);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.content p:not(:last-child) {
  margin-bottom: 30px;
}
.content p.fr,
.content p.ar {
  font-size: 20px;
  line-height: 2;
}

.content p.ar {
  direction: rtl;
}

.content p.ar::before {
  content: "";
  position: absolute;
  border-width: 20px;
  border-color: transparent transparent var(--ar-color) transparent;
  border-style: solid;
  left: 50%;
  transform: translateX(-50%);
  top: -38px;
}

.content.dark {
  background-color: #23272f;
}

.box p.fr.dark {
  background-color: #16181d;
  color: #fff;
}

p.ar.dark {
  background-color: #343a46;
}

p.ar.dark::before {
  border-color: transparent transparent #343a46 transparent;
}

/* End Content */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #04aa6d;
  color: #fff;
  border-radius: 50%;
}

.par {
  text-align: center;
}

.par .count-down {
  margin: 10px 0;
  font-size: 30px;
  border: 2px solid var(--main-color);
  padding: 10px;
  border-radius: 8px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  text-align: center;
}

.unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  transition: 0.3s;
}

.unit:hover {
  border-color: var(--main-color);
}

.time span {
  display: block;
}

.unit span:first-of-type {
  font-size: 35px;
  font-weight: bold;
  color: #d4d4d4;
  padding: 15px;
}

.unit span:last-of-type {
  border-top: 1px solid #d4d4d4;
  padding: 8px 10px;
  font-size: 13px;
  transition: 0.3s;
}

.unit:hover span:last-of-type {
  border-color: var(--main-color);
}

h3 span {
  display: block;
  direction: rtl;
  padding: 5px;
  line-height: 1.5;
  font-size: 20px;
}
